:root {
  --primary: #3d8068;
  --secondary: #8fa8a1;
  --success: #8dc8b4;
  --info: #9ab7af;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #c6e4da;
  --dark: #0c201a;
  --font-family-sans-serif: "Abel", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "Abel", "Courier New", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-family: 'Abel', 'nexa_lightregular', sans-serif !important; }

.color1 {
  color: #808080; }

.color2 {
  color: #8fa8a1; }

.color3 {
  color: #9ab7af; }

.color4 {
  color: #a5c8bd; }

.color5 {
  color: #c6e4da; }

.color6 {
  color: #acccc2; }

.color7 {
  color: #1f5043; }

.color8 {
  color: #346f5e; }

.color9 {
  color: #4b917b; }

.color10 {
  color: #8dc8b4; }

.color11 {
  color: #000000; }

.color12 {
  color: #060606; }

.color13 {
  color: #0c201a; }

.color14 {
  color: #142c25; }

.color15 {
  color: #1e3a31; }

.color16 {
  color: #385048; }

.color17 {
  color: #666666; }

.color18 {
  color: #3d8068; }

.color1-bg {
  background-color: #808080; }

.color2-bg {
  background-color: #8fa8a1; }

.color3-bg {
  background-color: #9ab7af; }

.color4-bg {
  background-color: #a5c8bd; }

.color5-bg {
  background-color: #c6e4da; }

.color6-bg {
  background-color: #acccc2; }

.color7-bg {
  background-color: #1f5043; }

.color8-bg {
  background-color: #346f5e; }

.color9-bg {
  background-color: #4b917b; }

.color10-bg {
  background-color: #8dc8b4; }

.color11-bg {
  background-color: #000000; }

.color12-bg {
  background-color: #060606; }

.color13-bg {
  background-color: #0c201a; }

.color14-bg {
  background-color: #142c25; }

.color15-bg {
  background-color: #1e3a31; }

.color16-bg {
  background-color: #385048; }

.color17-bg {
  background-color: #666666; }

.color18-bg {
  background-color: #3d8068; }

.lightHeader {
  color: #142c25;
  text-shadow: 2px 3px #808080; }

body {
  box-sizing: border-box;
  color: #c6e4da;
  min-width: 300px; }

.navbar--top {
  transition: border-width 0.6s linear border-bottom 1s;
  text-decoration: none; }
  .navbar--top .nav-link {
    margin-right: 0px;
    font-weight: 600; }
  .navbar--top .nav-item:hover {
    max-width: 265px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #0c201a;
    border-bottom: 2px solid #142c25;
    transition: border-width 0.6s linear border-bottom 1s;
    margin: 0px 8px 0px 8px; }
  .navbar--top .nav-link {
    padding-bottom: 0.15em;
    padding-top: 0.15em; }
    .navbar--top .nav-link :hover {
      padding-bottom: 0.15em;
      border-radius: 6px;
      border-bottom: 2px solid #142c25;
      transition: border-width 0.6s linear border-bottom 1s; }

/* CSS Document */
body {
  --font-family-sans-serif: "Abel";
  --font-family-monospace: "Abel", "Courier New", monospace;
  font-family: 'Abel', 'nexa_lightregular', sans-serif !important; }

body {
  font-family: !important; }

@font-face {
  font-family: 'nexa_lightregular';
  src: url("./assets/fonts/nexa_light-webfont.woff2") format("woff2"), url("./assets/fonts/nexa_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.green {
  color: #194034; }

.green_bg, a.green_bg {
  background-color: #194034 !important;
  color: #fff !important; }

.grey_bg {
  background: #e4e4e4;
  border-radius: 10px;
  padding: 20px !important; }

.light_green {
  background: #7cbea5;
  color: #fff;
  border: none; }

h1, h2, h3, h4 {
  font-family: 'Abel', sans-serif !important; }

h1 {
  text-transform: uppercase; }

p {
  font-size: 18px;
  font-family: 'nexa_lightregular' !important; }

.full-width {
  padding-left: 0px !important;
  padding-right: 0px !important; }

#top_menu {
  padding: 5px 0px;
  color: #fff; }

#top_menu a {
  color: #fff; }

#top_area {
  background-image: url("./assets/images/top_bg.jpg");
  background-repeat: repeat-x;
  background-position: center center; }

#navigation {
  background: #3d8068;
  width: 100%;
  z-index: 999999999; }

#navigation a {
  color: #fff !important;
  padding: 10px 25px; }

#navigation a:hover {
  background: #8dc8b4; }

#navigation .nav-link.active {
  color: #fff;
  background-color: #194034; }

.header {
  /*background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;*/ }

.header h1 {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 150px;
  padding-bottom: 300px; }

h1 span {
  font-weight: bold; }

.header h3 {
  color: #fff;
  font-size: 48px;
  padding-bottom: 150px; }

#aboutus {
  background-image: url("./assets/images/aboutus_bg.jpg");
  background-repeat: repeat;
  padding: 50px 0px;
  background-position: center center; }

#footer_widgets {
  background-color: #254a3e;
  color: #fff;
  padding: 50px 0px; }

#footer_widgets a {
  color: #fff; }

#facts {
  padding: 50px 0px;
  background-color: #4d927d; }

.fact_container {
  margin-bottom: 25px; }

#facts h1 {
  color: #fff !important;
  margin-bottom: 50px; }

.fact_container div {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 24px;
  text-align: center; }

#wallet {
  background-image: url("./assets/images/bar_bg.jpg");
  background-repeat: repeat;
  color: #fff; }

footer {
  background: #e4e4e4; }

footer a {
  color: dimgray; }

form {
  width: 100%; }

.address, .last_update, .port, .down_count, .status {
  border-left: #000 1px solid;
  border-bottom: #000 1px solid;
  background: lightgrey; }

.last_update {
  border-right: #000 1px solid; }

.heading {
  border-top: #000 1px solid;
  font-size: 22px; }

@media screen and (max-width: 480px) {
  h1, h2 {
    font-size: 26px; }
  h4 {
    font-size: 16px; }
  p {
    font-size: 14px; }
  a#nav-logo {
    display: none !important; }
  .header h1 {
    font-size: 30px !important;
    padding-top: 50px !important;
    padding-bottom: 20px !important; }
  .header h3 {
    font-size: 20px;
    padding-bottom: 50px;
    color: ffffff !important; }
  .fact_container div {
    display: block;
    margin-right: 0px;
    text-align: center;
    font-size: 14px; } }

/*************** Progress Bar Coding **********************/
.progress {
  width: 250px;
  height: 250px;
  line-height: 250px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative; }

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0; }

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1; }

.progress .progress-left {
  left: 0; }

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0; }

.progress-value {
  font-size: 24px !important;
  line-height: 36px !important;
  background: none !important;
  color: green !important;
  padding: 30% 10px;
  text-transform: uppercase; }

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left; }

.progress .progress-right {
  right: 0; }

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards; }

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%; }

.progress.blue .progress-bar {
  border-color: #049dff; }

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s; }

.progress.yellow .progress-bar {
  border-color: #fdba04; }

.progress.yellow .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.8s; }

.progress.pink .progress-bar {
  border-color: #ed687c; }

.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s; }

.progress.green .progress-bar {
  border-color: #1abc9c; }

.progress.green .progress-left .progress-bar {
  animation: loading-4 3.2s linear forwards 1.8s; }

.progress.blue .progress-right .progress-bar {
  animation: loading-1 0s linear forwards 1.8s; }

.progress.yellow .progress-right .progress-bar {
  animation: loading-1 0s linear forwards 1.8s; }

.progress.pink .progress-right .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s; }

.progress.green .progress-right .progress-bar {
  animation: loading-4 1.2s linear forwards 1.8s; }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg); } }

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px; } }

/******** Time Line Styling ***********/
@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; }
  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7; } }

/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1; }

.demo-card:nth-child(2) {
  order: 4; }

.demo-card:nth-child(3) {
  order: 2; }

.demo-card:nth-child(4) {
  order: 4; }

.demo-card:nth-child(5) {
  order: 2; }

.demo-card:nth-child(6) {
  order: 6; }

/* Border Box */
* {
  box-sizing: border-box; }

#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px; }

#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px; }

#timeline .demo-card-wrapper {
  position: relative;
  margin: auto; }

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto; } }

#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4); }

@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd; } }

#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2; }

@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07); } }

@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%; } }

@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px; }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px; }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%; }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px; }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px; }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%; }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px; }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px; } }

#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400; }

#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17); }

#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem; }

@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem; } }

#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0; }

@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem; } }

#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px; }

@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px; } }

#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px; }

#timeline .demo-card .body img {
  display: block;
  width: 100%; }

#timeline .demo-card--step1 {
  background-color: #46b8e9; }

#timeline .demo-card--step1 .head::after {
  border-color: #46b8e9; }

#timeline .demo-card--step2 {
  background-color: #3ee9d1; }

#timeline .demo-card--step2 .head::after {
  border-color: #3ee9d1; }

#timeline .demo-card--step3 {
  background-color: #ce43eb; }

#timeline .demo-card--step3 .head::after {
  border-color: #ce43eb; }

#timeline .demo-card--step4 {
  background-color: #4d92eb; }

#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb; }

#timeline .demo-card--step5 {
  background-color: #46b8e9; }

#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9; }

/************************ Road Map *********************************/
.team {
  padding: 75px 0; }

h6.description {
  font-weight: bold;
  letter-spacing: 2px;
  color: #999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px; }

.profile {
  margin-top: 25px; }

.profile h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0 0 0; }

.profile h2 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px; }

.profile .img-box {
  opacity: 1;
  display: block;
  position: relative; }

.profile .img-box:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

.img-box ul {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  height: 0px;
  margin: 0px;
  opacity: 0; }

.profile .img-box:after, .img-box ul, .img-box ul li {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }

.img-box ul i {
  font-size: 20px;
  letter-spacing: 10px; }

.img-box ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #88C425;
  margin: 2px;
  padding: 5px;
  display: inline-block; }

.img-box a {
  color: #fff; }

.img-box:hover:after {
  opacity: 1; }

.img-box:hover ul {
  opacity: 1; }

.img-box ul a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.img-box a:hover li {
  border-color: #fff;
  color: #88C425; }

a {
  color: #88C425; }

a:hover {
  text-decoration: none;
  color: #519548; }

i.red {
  color: #BC0213; }

.img-box img {
  width: 100%; }

#social_icons div {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle; }

#social_icons img {
  width: 30px;
  height: auto; }

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  color: black; }

.switch {
  font-size: 1rem;
  position: relative; }
  .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0; }
    .switch input + label {
      position: relative;
      min-width: calc(calc(2.375rem * .8) * 2);
      border-radius: calc(2.375rem * .8);
      height: calc(2.375rem * .8);
      line-height: calc(2.375rem * .8);
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem); }
    .switch input + label::before,
    .switch input + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(calc(2.375rem * .8) * 2);
      bottom: 0;
      display: block; }
    .switch input + label::before {
      right: 0;
      background-color: #3d8068;
      border-radius: calc(2.375rem * .8);
      transition: 0.2s all; }
    .switch input + label::after {
      top: 2px;
      left: 2px;
      width: calc(calc(2.375rem * .8) - calc(2px * 2));
      height: calc(calc(2.375rem * .8) - calc(2px * 2));
      border-radius: 50%;
      background-color: white;
      transition: 0.2s all; }
    .switch input:checked + label::before {
      background-color: #0c201a; }
    .switch input:checked + label::after {
      margin-left: calc(2.375rem * .8); }
    .switch input:focus + label::before {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(12, 32, 26, 0.25); }
    .switch input:disabled + label {
      color: #666666;
      cursor: not-allowed; }
    .switch input:disabled + label::before {
      background-color: #c6e4da; }
  .switch.switch-sm {
    font-size: 0.875rem; }
    .switch.switch-sm input + label {
      min-width: calc(calc(1.9375rem * .8) * 2);
      height: calc(1.9375rem * .8);
      line-height: calc(1.9375rem * .8);
      text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem); }
    .switch.switch-sm input + label::before {
      width: calc(calc(1.9375rem * .8) * 2); }
    .switch.switch-sm input + label::after {
      width: calc(calc(1.9375rem * .8) - calc(2px * 2));
      height: calc(calc(1.9375rem * .8) - calc(2px * 2)); }
    .switch.switch-sm input:checked + label::after {
      margin-left: calc(1.9375rem * .8); }
  .switch.switch-lg {
    font-size: 1.25rem; }
    .switch.switch-lg input + label {
      min-width: calc(calc(3rem * .8) * 2);
      height: calc(3rem * .8);
      line-height: calc(3rem * .8);
      text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem); }
    .switch.switch-lg input + label::before {
      width: calc(calc(3rem * .8) * 2); }
    .switch.switch-lg input + label::after {
      width: calc(calc(3rem * .8) - calc(2px * 2));
      height: calc(calc(3rem * .8) - calc(2px * 2)); }
    .switch.switch-lg input:checked + label::after {
      margin-left: calc(3rem * .8); }
  .switch + .switch {
    margin-left: 1rem; }

.thumbnail:hover .img-qr-code {
  background-color: #9ab7af;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden; }

.thumbnail:hover .qr-text {
  background-color: #9ab7af;
  color: #3d8068; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.thumbnail:hover .middle {
  opacity: 1; }

.qr-text {
  width: 144px;
  margin: auto;
  background-color: #346f5e;
  color: white;
  margin-top: 5px;
  padding: 6px 14px;
  border-radius: 0.15em; }
